<div class="container">
  <img class="mascot" src="assets/images/mascot_small_stroked.png" alt="little devil" />
  <div>
    <img class="bottom" src="assets/images/footer_stylized.png" alt="" />
  </div>
  <div class="centered">
    <span>&copy; 2022 ErikSionov@gmail.com All Rights Reserved.</span>
    <a routerLink="terms" routerLinkActive="active-link">Terms of Use</a>
    <a routerLink="privacy" routerLinkActive="active-link">Privacy Statement</a>
    <a routerLink="licenses" routerLinkActive="active-link"> Licenses</a>
    <a routerLink="Accessibility" routerLinkActive="active-link">
      Accessibility
    </a>
    <a routerLink="dontsell" routerLinkActive="active-link">
      Do Not Sell My Personal Information
    </a>
  </div>
</div>
