<div>
  <img src="/assets/images/LogoMascot.png" alt="little devil" />
  <h2>Little Devil</h2>
  <h1>DEALS</h1>
</div>

<div class="input_field">
  <input #email type="text" name="email" id="email" required placeholder="email" />
</div>
<div class="input_field">
  <input #psw type="password" name="psw" id="psw" required placeholder="password" />
</div>
<div class="button">
  <button (click)="login(email.value, psw.value)">LOGIN</button>
</div>

<div>
  <hr color="#d90f49" />
  <h5>All rights reserved &copy; ErikSionov@gmail.com</h5>
</div>
