:host {
  display: block;
  width: fit-content;
  margin: auto;
  position: relative;
}

div {
  text-align: center;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: -20px;
}
img {
  display: block;
  width: 50%;
  margin: auto;
  padding-left: 50px;
}
.input_field {
  margin: auto;
  width: fit-content;
  padding-bottom: 5px;
}
input {
  display: block;
  margin: auto;
  padding-left: 20px;
  border: 2px solid #d90f49;
  border-radius: 20px;
  height: 20px;
}

.button {
  padding: 5px;
}

::placeholder {
  color: lightpink;
}

::target-text {
  padding-left: 20px;
}

.buttom {
  display: block;
  position: absolute;
  width: 1440px;
  height: 185px;
  left: 0px;
  top: 0px;
}
