/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

:root {
  --devil-red: #d90f49;
  --devil-black: #351111;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  color: #d90f49;
  margin: 0;
  padding: 0;
}

button {
  text-align: center;
  font-size: 1rem;
  color: aliceblue;
  display: block;
  margin: auto;
  background: linear-gradient(178.18deg, #ff326c -13.56%, #351111 158.3%);
  border: 0px;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
}

button:hover {
  background: linear-gradient(178.18deg, #351111 -13.56%, #ff326c 158.3%);
}

a {
  font-weight: 600;
  font-size: 0.8vw;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  color: white;
}

a:hover {
  font-size: 0.9vw;
  font-style: italic;
  transition: 0.3s;
}

.input_field {
  margin: auto;
  width: fit-content;
  padding-bottom: 5px;
}

input {
  display: block;
  margin: auto;
  padding-left: 20px;
  border: 2px solid #d90f49;
  border-radius: 20px;
  height: 20px;
  outline: none;
}

.button {
  padding: 5px;
}

::placeholder {
  color: lightpink;
}

::target-text {
  padding-left: 20px;
}

h4 {
  text-align: center;
  background: linear-gradient(178.18deg, #ff326c -13.56%, #351111 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.1rem;
}

.small-button {
  display: inline;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  -webkit-text-fill-color: currentColor;
  margin: 5px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  margin: 0;
  border-radius: 0px 0px 0px 10px;
}

/* scroll bar css */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--devil-red);
  border-radius: 10px;
}

.delete {
  display: inline;
  padding: 10px 15px;
  border-radius: 10px;
}

.edit {
  display: inline;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  color: #ff326c;
  font-weight: bold;
  background: none;
}

.edit:hover {
  color: #351111;
  background: none;
}
