<div>
  <img class="logo" src="/assets/images/LogoStroked.png" alt="little devil" />
</div>
<div>
  <p>Hello, {{ userName }}</p>
</div>
<div class="div-links">
  <a routerLink="companies" routerLinkActive="active-link">
    <img class="icon" src="/assets/images/companies_icon.png" alt="" />
    Companies
  </a>
  <a routerLink="coupons" routerLinkActive="active-link">
    <img class="icon" src="/assets/images/coupons_icon.png" alt="" />
    Coupons
  </a>
  <a routerLink="settings" routerLinkActive="active-link">
    <img class="icon" src="/assets/images/settings_icon.png" alt="" />
    Settings
  </a>
</div>
