<ng-template #loading class="loading">
  <div style="text-align: center">
    <img src="assets/images/loading.gif" alt="loading..." width="150" />
    <h4>LOADING...</h4>
  </div>
</ng-template>

<div class="container">
  <div style="margin-bottom: 20px;">
    <app-search [(items)]="this.customers" searchType="customer"></app-search>
    <Button type="button" class="small-button" (click)="getAllCustomers()">
      GET ALL CUSTOMERS
    </Button>
    <Button type="button" class="small-button" (click)="resetForm(); modalService.open('add')">+ ADD NEW</Button>
    <Button type="button" class="small-button" (click)="logCustomers()">debug: check
      customers</Button>
    <br />
  </div>

  <div class="table">
    <table *ngIf="customers; else loading">
      <tr>
        <th>#ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of customers as Company">
        <td>{{ item.id }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.password }}</td>
        <td class="editButtons">
          <button type="button" class="edit" (click)="openUpdateCustomer(item)">
            EDIT
          </button>
          <button type="button" class="delete" (click)="customer = item; modalService.open('delete')">
            <img src="assets/images/delete_icon.png" alt="" />
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<!------- ------ ------->
<!------- ADD MODAL ------->
<!------- ------ ------->
<app-modal width="200px" height="350px" id="add">
  <Button type="button" class="small-button modal-close" (click)="resetForm(); modalService.close('add')">
    X
  </Button>
  <h4>Add new customer</h4>

  <form class="add-company">
    <input class="input_field" name="firstname" type="text" placeholder="firstname" [(ngModel)]="customer.firstName" />
    <br>
    <input class="input_field" name="lastname" type="text" placeholder="lastname" [(ngModel)]="customer.lastName" />
    <br />
    <input class="input_field" name="email" type="email" placeholder="email" [(ngModel)]="customer.email" />
    <br />
    <input class="input_field" name="password" type="password" placeholder="password" [(ngModel)]="customer.password" />
    <br />
    <Button style="display: inline-block" type="button" class="small-button"
      (click)="addCustomer(); modalService.close('add')">
      ADD
    </Button>
    <Button style="display: inline-block" type="button" class="small-button" (click)="resetForm()">
      RESET
    </Button>
  </form>
</app-modal>

<!------- ------ ------->
<!------- DELETE MODAL ------->
<!------- ------ ------->
<app-modal width="200px" height="250px" id="delete">
  <Button type="button" class="small-button modal-close" (click)="resetForm(); modalService.close('delete')">
    X
  </Button>
  <form>
    <h4>Are you sure you want to delete?</h4>
    <p>customer id :{{ customer.id }}</p>
    <br />
    <Button style="display: inline-block" type="button" class="small-button"
      (click)="deleteCustomer(customer.id!); modalService.close('delete')">
      DELETE
    </Button>
    <Button style="display: inline-block" type="button" class="small-button"
      (click)="resetForm(); modalService.close('delete')">
      CANCEL
    </Button>
  </form>
</app-modal>
