:host {
  display: block;
  max-height: 400px;
}

.container {
  padding: 1vw;
  overflow-y: visible;
  background: #ffffff;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: right;
  margin: 0 4%;
  overflow-y: auto;
}

.table {
  padding: 2%;
  overflow-y: visible;
  background: #ffffff;
  /* box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  border-radius: 30px; */
  max-height: 43vh;
  margin: auto;
  overflow-y: auto;
  padding-top: 0;
}

table {
  margin: auto;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: whitesmoke;
}

th {
  text-align: left;
  width: 20%;
  background: linear-gradient(178.18deg, #ff326c -13.56%, #351111 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.1rem;
}

th:nth-child(1) {
  width: 10%;
}

td {
  text-align: left;
  color: #333333;
}

td:nth-child(1) {
  font-weight: bold;
}



.editButtons {
  text-align: right;
}


form {
  text-align: center;
}

form>button.small-button {
  margin: 5px;
  padding: 10px;
}
